<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant List</title>

  <!-- link css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  {{!-- Navbar --}}
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="http://localhost:3000">
      <i class="fas fa-utensils"></i>
      Restaurant List
    </a>
    </div>
  </nav>

  <div class="banner"></div>

  <div style="position: fixed; top: 75%; right: 5%; z-index: 999;">
    <a id="Top" href="#" title="TOP" alt="TOP">
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Top_Arrow.svg" width="50px" height="50px">
    </a>
  </div>

  <!-- partial templates will replace the part of "body" here -->
  {{{body}}}

  {{!-- fontawesome --}}
  <script src="https://kit.fontawesome.com/f195bc5a1e.js" crossorigin="anonymous"></script>
  <!-- include javascript files here -->
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>