<!-- search bar -->
<div class="row" id="search-bar">
  <div class="col-12">
    <form action="/search">
      <div class="input-group mb-3">
        <input type="text" name="keyword" class="form-control" placeholder="Enter restaurant name to search..."
          aria-label="Restaurant Name..." aria-describedby="search-button" >
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

{{!-- card --}}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5635/01.jpg">
  <div class="card-body">
    <h5 class="card-title">Sababa 沙巴巴中東美食</h5>
    <p class="card-text">沙巴巴批塔是台灣第一家純手工批塔專賣店,只選用最新鮮的頂級原料,以及道地的中東家傳配方。
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">分類: 中東料理</li>
    <li class="list-group-item">評分: 4.1</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">更多內容</a>
  </div>
</div>